pydantic==1.10.12
streamlit==1.45.0
pandas-profiling
pycaret==3.3.2
streamlit-extras==0.6.0
autoviz
fpdf
tensorflow==2.14.0
scikit-learn
plotly==5.24.1
langchain==0.0.318
langchain-community==0.0.20
langchain-core==0.3.60
langchain-google-genai==2.0.10
google-generativeai==0.8.5
sqlparse==0.5.1