pydantic==1.10.12
streamlit==1.45.0
pandas-profiling
pycaret==3.3.2
streamlit-extras==0.6.0
autoviz
fpdf
tensorflow==2.14.0
scikit-learn
plotly==5.24.1
langchain
langchain-community
langchain-core
langchain-google-genai
google-generativeai
sqlparse==0.5.1
pandasql==0.7.3